flows-2.json
[{"id":"5c767b5d.6c6354","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7fc79a48.1e5d44","type":"inject","z":"5c767b5d.6c6354","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":100,"wires":[["9f88fee2.626ce8"]]},{"id":"9f88fee2.626ce8","type":"debug","z":"5c767b5d.6c6354","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":100,"wires":[]},{"id":"5e4ac8b9.fae778","type":"ibmiot in","z":"5c767b5d.6c6354","authentication":"apiKey","apiKey":"304a6b9a.8cd7ac","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"2411","applicationId":"","deviceType":"+jashu","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":70,"y":240,"wires":[["9064a771.cd6da8","44e5a63c.b19ae","e6b7e2b2.cb6058"]]},{"id":"9064a771.cd6da8","type":"function","z":"5c767b5d.6c6354","name":"Temperature","func":"global.set('temperature',msg.payload.Temperature)\nmsg.payload=msg.payload.Temperature;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":180,"wires":[["9f88fee2.626ce8","13484085.e5f39f"]]},{"id":"44e5a63c.b19ae","type":"function","z":"5c767b5d.6c6354","name":"Humidity","func":"global.set('humidity',msg.payload.Humidity)\nmsg.payload=msg.payload.Humidity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":240,"wires":[["9f88fee2.626ce8","4ce8e7c.1d48098"]]},{"id":"e6b7e2b2.cb6058","type":"function","z":"5c767b5d.6c6354","name":"Air","func":"global.set('AIR',msg.payload.Air)\nmsg.payload=msg.payload.Air\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":300,"wires":[["9f88fee2.626ce8","67b54780.64a63"]]},{"id":"13484085.e5f39f","type":"ui_gauge","z":"5c767b5d.6c6354","name":"","group":"b0c57a54.3e9678","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":390,"y":180,"wires":[]},{"id":"4ce8e7c.1d48098","type":"ui_gauge","z":"5c767b5d.6c6354","name":"","group":"b0c57a54.3e9678","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":380,"y":240,"wires":[]},{"id":"67b54780.64a63","type":"ui_gauge","z":"5c767b5d.6c6354","name":"","group":"b0c57a54.3e9678","order":3,"width":0,"height":0,"gtype":"gage","title":"Air","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":390,"y":300,"wires":[]},{"id":"41593ca3.8b0d8c","type":"ui_button","z":"5c767b5d.6c6354","name":"","group":"b0c57a54.3e9678","order":4,"width":0,"height":0,"passthru":false,"label":"LIGHTON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"LIGHTON\"}","payloadType":"json","topic":"","x":100,"y":500,"wires":[["b54c393.9f1ccc8","706241c4.c9d178"]]},{"id":"4075f135.db8ec","type":"ui_button","z":"5c767b5d.6c6354","name":"","group":"b0c57a54.3e9678","order":5,"width":0,"height":0,"passthru":false,"label":"LIGHTOFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"LIGHTOFF\"}","payloadType":"json","topic":"","x":110,"y":560,"wires":[["b54c393.9f1ccc8","706241c4.c9d178"]]},{"id":"b54c393.9f1ccc8","type":"ibmiot out","z":"5c767b5d.6c6354","authentication":"apiKey","apiKey":"304a6b9a.8cd7ac","outputType":"cmd","deviceId":"2411","deviceType":"jashu","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":380,"y":560,"wires":[]},{"id":"dfec9ed1.627508","type":"http in","z":"5c767b5d.6c6354","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":120,"y":360,"wires":[["cec05c02.00f48"]]},{"id":"bfd3d404.59d81","type":"http response","z":"5c767b5d.6c6354","name":"","statusCode":"","headers":{},"x":410,"y":360,"wires":[]},{"id":"cec05c02.00f48","type":"function","z":"5c767b5d.6c6354","name":"","func":"msg.payload={'Temperature_value':global.get(\"Temperature\"),'Humidity_value':global.get(\"Humidity\"),'Air_value':global.get(\"Air\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":360,"wires":[["bfd3d404.59d81"]]},{"id":"706241c4.c9d178","type":"debug","z":"5c767b5d.6c6354","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":500,"wires":[]},{"id":"f0519175.d6e14","type":"http in","z":"5c767b5d.6c6354","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":110,"y":420,"wires":[["7e003962.81bde8"]]},{"id":"de63ca16.35642","type":"http response","z":"5c767b5d.6c6354","name":"","statusCode":"","headers":{},"x":390,"y":420,"wires":[]},{"id":"7e003962.81bde8","type":"function","z":"5c767b5d.6c6354","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":460,"wires":[["de63ca16.35642","4f65514.bd83ab"]]},{"id":"4f65514.bd83ab","type":"debug","z":"5c767b5d.6c6354","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":540,"y":440,"wires":[]},{"id":"304a6b9a.8cd7ac","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"b0c57a54.3e9678","type":"ui_group","z":"","name":"Default","tab":"e34bc05e.f8548","order":1,"disp":true,"width":"6","collapse":false},{"id":"e34bc05e.f8548","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]